<template>
  <loading v-if="$store.state.app.loading"/>
  <div v-else class="regions_form">
    <mlinput
      store="work/regions" name="name"
      :label="$t('admin.regions.editForm.name')"/>

    <tagInput
      store="work/regions" name="country_id"
      itemStore="work/countries" itemNameKey="name"
      :max="1"
      :label="$t('admin.regions.editForm.country')"
    />

    <a href="javascript:;" class="btn btn-primary" @click="save()">
      {{$t('controls.button.save')}}
    </a>
  </div>
</template>

<script>
import MLInput from '../../_controls/ml/Input.vue';
import TagInput from '../../_controls/TagInput.vue';

export default {
  data() {
    return {
      isNew: true,
    };
  },
  components: {
    mlinput: MLInput,
    tagInput: TagInput,
  },
  created() {
    this.fetchData();
  },
  watch: {
    $route: 'fetchData',
  },
  methods: {
    fetchData() {
      this.$store.dispatch('work/regions/RESET_CURRENT');
      const { id } = this.$route.params;
      if (id) {
        // Edit existing region
        this.isNew = false;
        const region = this.$store.state.work.regions.list[id];

        if (region) {
          this.$store.dispatch('work/regions/SET_CURRENT', region);
        } else {
          // Page not loaded yet
          this.$store.dispatch('app/CALL_API', {
            method: 'get',
            url: `/api/regions/${id}`,
            onSuccess: 'work/regions/loadCurrent',
          });
        }
      } else {
        // Create new region
        this.isNew = true;
      }
    },
    save() {
      const region = this.$store.state.work.regions.current;
      this.$store.dispatch('app/CALL_API', {
        url: this.isNew ? '/api/regions' : `/api/regions/${region.id}`,
        method: this.isNew ? 'post' : 'put',
        data: region,
        onSuccess: this.isNew ? 'work/regions/create' : 'work/regions/loadCurrent',
        notify: this.$t('admin.regions.actions.saved_successful'),
      });
    },
  },
};
</script>
