<template>
    <loading v-if="$store.state.app.loading"/>
    <div v-else class="pages_form">
        <inputComponent
          store="content/pages" name="slug"
          :label="$t('admin.pages.editForm.slug')" :disabled="!isNew"/>
        <mlinput
          store="content/pages" name="title"
          :label="$t('admin.pages.editForm.title')"/>
        <mltextarea
          store="content/pages" name="description"
          :label="$t('admin.pages.editForm.desc')"/>
        <mleditor
          store="content/pages" name="content"
          :label="$t('admin.pages.editForm.content')"/>

        <a href="javascript:;" class="btn btn-primary" @click="save()">
            {{$t('controls.button.save')}}
        </a>
    </div>
</template>

<script>
import inputComponent from '../../_controls/Input.vue';
import MLInput from '../../_controls/ml/Input.vue';
import MLTextArea from '../../_controls/ml/TextArea.vue';
import MLEditor from '../../_controls/ml/Editor.vue';

export default {
  data() {
    return {
      isNew: true,
    };
  },
  components: {
    inputComponent,
    mleditor: MLEditor,
    mlinput: MLInput,
    mltextarea: MLTextArea,
  },
  created() {
    this.fetchData();
  },
  watch: {
    $route: 'fetchData',
  },
  methods: {
    fetchData() {
      this.$store.dispatch('content/pages/RESET_CURRENT');
      const { id } = this.$route.params;
      if (id) {
        // Edit existing page
        this.isNew = false;
        const page = this.$store.getters['content/pages/getList'][id];

        if (page) {
          this.$store.dispatch('content/pages/SET_CURRENT', page);
        } else {
          // Page not loaded yet
          this.$store.dispatch('app/CALL_API', {
            method: 'get',
            url: `/api/pages/${id}`,
            onSuccess: 'content/pages/loadCurrent',
          });
        }
      } else {
        // Create new page
        this.isNew = true;
      }
    },
    save() {
      const page = this.$store.getters['content/pages/getCurrent'];
      this.$store.dispatch('app/CALL_API', {
        url: this.isNew ? '/api/pages' : `/api/pages/${page.id}`,
        method: this.isNew ? 'post' : 'put',
        data: page,
        onSuccess: this.isNew ? 'content/pages/create' : 'content/pages/loadCurrent',
        notify: this.$t('admin.pages.actions.saved_successful'),
      });
    },
  },
};
</script>
