<template>
  <loading v-if="$store.state.app.loading"/>
  <div v-else class="pages_list">
    <div>
      <table class="table">
        <thead>
          <tr>
            <th>{{$t('admin.pages.listTable.slug')}}</th>
            <th>{{$t('admin.pages.listTable.title')}}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="page in $store.state.content.pages.list"
            :key="page.id"
            class="has-shy"
          >
            <td>{{page.slug}}</td>
            <td>{{page.title}}</td>
            <td class="shy">
              <a
                href="#" class="btn btn-sm btn-secondary"
                @click.prevent="edit(page.id)" v-if="can('content.pages.update')">
                <i class="icofont-edit-alt"></i>
              </a>
              <a
                href="#" class="btn btn-sm btn-danger"
                @click.prevent="remove(page.id)" v-if="can('content.pages.delete')">
                <i class="icofont-trash"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
export default {
  created() {
    this.fetchData();
  },
  watch: {
    $route: 'fetchData',
  },
  methods: {
    fetchData() {
      this.$store.dispatch('app/CALL_API', {
        method: 'get',
        url: '/api/pages',
        onSuccess: 'content/pages/loadList',
      });
    },
    edit(id) {
      this.$router.push({
        name: 'pages.edit',
        params: {
          id,
        },
      });
    },
    remove(id) {
      if (confirm(this.$t('admin.pages.actions.delete_ask'))) {
        this.$store.dispatch('app/CALL_API', {
          method: 'delete',
          url: `/api/pages/${id}`,
          onSuccess: 'content/pages/remove',
          notify: this.$t('admin.pages.actions.deleted_successful'),
        });
      }
    },
  },
};
</script>
