<template>
  <loading v-if="$store.state.app.loading"/>
  <div v-else class="translations_list">
    <div class="row">
      <div class="col">
        <label>{{$t('admin.translations.source')}}</label>
        <div class="form-group">
          <select
            class="form-control"
            @change="evt => setLocale('source', evt.target.value)">
            <option value="">{{$t('admin.translations.select')}}</option>
            <option
              v-for="locale in locales" :key="locale"
              :value="locale">
              {{locale}}
            </option>
          </select>
        </div>
      </div>
      <div class="col">
        <label>{{$t('admin.translations.target')}}</label>
        <div class="form-group">
          <select
            class="form-control"
            @change="evt => setLocale('target', evt.target.value)">
            <option value="">{{$t('admin.translations.select')}}</option>
            <option
              v-for="locale in locales" :key="locale"
              :value="locale">
              {{locale}}
            </option>
          </select>
        </div>
      </div>
      <div class="col-auto" v-if="$store.getters['content/translations/ready']">
        <label class="d-block">&nbsp;</label>
        <a href="#" class="btn btn-primary" @click.prevent="save()">
          {{$t('controls.button.save')}}
        </a>
      </div>
    </div>
    <div
      class="accordion" id="messages"
      v-if="$store.getters['content/translations/ready']">
      <div
        class="card"
        v-for="(value, key) in $store.getters['content/translations/sourceMessages']"
        :key="key">
        <div
          class="card-header p-2"
          :data-target="`#file_${key}`" data-toggle="collapse">
          {{key}}
        </div>
        <div
          class="card-body border collapse" :id="`file_${key}`"
          data-parent="#messages">
          <nested
            :name="key"
            :value="value" />
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import Nested from './Nested.vue';

export default {
  name: 'TranslationList',
  components: {
    Nested,
  },
  data() {
    return {
      locales: this.$store.state.content.translations.locales,
    };
  },
  methods: {
    setLocale(type, locale) {
      this.$store.dispatch('content/translations/SET_LOCALE', { type, locale });
    },
    save() {
      this.$store.dispatch('app/CALL_API', {
        url: `/api/translations/${this.$store.state.content.translations.target}`,
        data: {
          messages: this.$store.getters['content/translations/targetMessages'],
        },
        method: 'put',
        onSuccess: 'content/translations/save',
        notify: this.$t('admin.translations.action.saved_successful'),
      });
    },
  },
};
</script>
