<template>
  <div class="nested">
    <div v-if="typeof value == 'object'">
      <nested
        v-for="(v, k) in value"
        :key="k"
        :name="k"
        :parentPath="path"
        :value="v" />
    </div>
    <div v-else-if="typeof value == 'string'">
      <small class="text-muted">
        {{fullName}}
      </small>
      <div class="row">
        <div class="col-6">
          <p>
            {{value}}
          </p>
        </div>
        <div class="col-6">
          <div class="form-group">
            <textarea
              class="form-control" rows="3"
              :value="targetValue"
              @change="evt => update(evt.target.value)">
            </textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Nested',
  props: {
    name: {
      type: String,
    },
    parentPath: {
      type: Array,
      default: () => [],
    },
    value: {
      type: [Object, String],
    },
  },
  computed: {
    targetValue() {
      return this.$store.getters['content/translations/getTargetValue']([...this.path]);
    },
    path() {
      const res = [...this.parentPath];
      res.push(this.name);
      return res;
    },
    fullName() {
      return this.path.join('.');
    },
  },
  methods: {
    update(newValue) {
      this.$store.commit('content/translations/update', {
        path: [...this.path],
        value: newValue,
      });
    },
  },
};
</script>
