<template>
  <div class="avatar my-3">
    <div class="row">
      <div class="col-auto">
        <i
          v-if="!value"
          class="icofont-camera icofont-2x text-primary p-2
          rounded-circle bg-secondary d-inline-block"
        ></i>
        <img width="60" v-else :src="value.url" class="rounded-circle">
      </div>
      <div class="col">
        <div>
          <label for="candidate_avatar" class="text-primary">
            {{$t('candidate.form.avatar.load')}}
          </label>
          <input
            type="file" name="avatar_file" class="d-none"
            id="candidate_avatar" ref="avatar" accept="image/*"
            @change="handle"
          >
        </div>
        <div class="text-muted">
          {{$t('candidate.form.avatar.hint')}}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  computed: {
    value() {
      return this.$store.state.profile.candidate.current.avatar_file;
    },
  },
  methods: {
    handle() {
      const file = this.$refs.avatar.files[0];
      const { id } = this.$store.state.profile.candidate.current;
      this.$store.dispatch('app/UPLOAD', {
        url: `/api/profile/avatar/${id}`,
        file,
        onSuccess: 'profile/candidate/updateCurrent',
      });
    },
  },
};
</script>
