<template>
  <div>
    <div class="h2">
      {{$t('candidate.form.contact_info.header')}}
    </div>

    <avatar />

    <inputComponent
      store="profile/candidate" name="last_name"
      :label="$t('candidate.form.contact_info.last_name')"/>

    <inputComponent
      store="profile/candidate" name="first_name"
      :label="$t('candidate.form.contact_info.first_name')"/>

    <inputComponent
      store="profile/candidate" name="middle_name"
      :label="$t('candidate.form.contact_info.middle_name')"/>

    <tagInput
      store="profile/candidate"
      name="city_id"
      :label="$t('candidate.form.contact_info.city_id')"
      itemStore="work/cities"
      itemNameKey="fullName"
      :max="1"
      :maxVariants="10"
    />

    <div class="row">
      <div class="col-sm-6">
        <inputComponent
          store="profile/candidate" name="dob"
          :label="$t('candidate.form.contact_info.dob')"/>
      </div>
      <div class="col-sm-6">
        <radio-list
          store="profile/candidate" name="sex"
          :label="$t('candidate.form.contact_info.sex')"
          :source="$store.getters['app/dataList']('profile.candidate.gender')"
          sourceType="object"
        />
      </div>
    </div>
  </div>
</template>

<script>
import InputComponent from '../../_controls/Input.vue';
import TagInput from '../../_controls/TagInput.vue';
import RadioList from '../../_controls/RadioList.vue';
import Avatar from './_avatar.vue';

export default {
  components: {
    InputComponent,
    TagInput,
    RadioList,
    Avatar,
  },
};
</script>
