<template>
  <div>
    <div class="h3">
      {{$t('candidate.form.desired_speciality.header')}}
    </div>
    <div
      class="withline"
      v-for="(speciality, index) in value"
      :key="index"
    >
      <a
        href="#" @click.prevent="remove(index)"
        class="text-light float-right"
      >
        {{$t('candidate.form.desired_speciality.remove')}}
      </a>
      <tagInput
        store="profile/candidate"
        :name="`desired_specialities/${index}/speciality_id`"
        :label="$t('candidate.form.desired_speciality.speciality')"
        :deep="true"
        itemStore="work/specialities"
        itemNameKey="title"
        :max="1"
        :maxVariants="10"
      />
      <radio-list
        store="profile/candidate"
        :name="`desired_specialities/${index}/education_type`"
        :deep="true"
        :label="$t('candidate.form.desired_speciality.education_type')"
        :source="$store.getters['app/dataList']('work.education_type')"
        sourceType="object"
      />
      <radio-list
        store="profile/candidate"
        :name="`desired_specialities/${index}/experience_type`"
        :deep="true"
        :label="$t('candidate.form.desired_speciality.experience')"
        :source="$store.getters['app/dataList']('work.experience')"
        sourceType="object"
      />
    </div>
    <a href="#" @click.prevent="add" v-show="filled">
      {{$t('candidate.form.desired_speciality.add')}}
    </a>
  </div>
</template>

<script>
import TagInput from '../../_controls/TagInput.vue';
import RadioList from '../../_controls/RadioList.vue';

export default {
  components: {
    TagInput,
    RadioList,
  },
  computed: {
    value() {
      return this.$store.state.profile.candidate.current.desired_specialities;
    },
    filled() {
      let ret = true;
      this.value.forEach((item) => {
        if (!item.speciality_id || !item.education_type || !item.experience_type) {
          ret = false;
        }
      });
      return ret;
    },
  },
  created() {
    if (this.value.length == 0) {
      this.add();
    }
  },
  methods: {
    add() {
      const desiredSpecialities = [
        ...this.value,
        {},
      ];
      this.$store.commit('profile/candidate/updateCurrent', {
        key: 'desired_specialities',
        value: desiredSpecialities,
      });
    },
    remove(index) {
      if (confirm(this.$t('candidate.form.desired_speciality.confirm'))) {
        const desiredSpecialities = [
          ...this.value,
        ];
        desiredSpecialities.splice(index, 1);
        this.$store.commit('profile/candidate/updateCurrent', {
          key: 'desired_specialities',
          value: desiredSpecialities,
        });
      }
    },
  },
};
</script>
