<template>
  <div>
    <div class="h2">
      {{$t('candidate.form.desired_work.header')}}
    </div>
    <div class="withline">
      <div class="h3">
        {{$t('candidate.form.desired_work.general_info')}}
      </div>
      <div class="h4">
        {{$t('candidate.form.desired_work.desired_salary')}}
        <i class="icofont-rouble float-right text-light"></i>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <inputComponent
            store="profile/candidate" name="salary_monthly"
            type="number"
            :label="$t('candidate.form.desired_work.salary_monthly')"/>
        </div>
        <div class="col-sm-4">
          <inputComponent
            store="profile/candidate" name="salary_daily"
            type="number"
            :label="$t('candidate.form.desired_work.salary_daily')"/>
        </div>
        <div class="col-sm-4">
          <inputComponent
            store="profile/candidate" name="salary_hourly"
            type="number"
            :label="$t('candidate.form.desired_work.salary_hourly')"/>
        </div>
      </div>
      <bitMask
        store="profile/candidate"
        name="work_type"
        :source="$store.getters['app/dataList']('work.type')"
        :label="$t('candidate.form.desired_work.work_type')"
      />
      <bitMask
        store="profile/candidate"
        name="work_schedule"
        :source="$store.getters['app/dataList']('work.schedule')"
        :label="$t('candidate.form.desired_work.work_schedule')"
      />
      <bitMask
        store="profile/candidate"
        name="work_team"
        :source="$store.getters['app/dataList']('work.team')"
        :label="$t('candidate.form.desired_work.work_team')"
      />
      <radio-list
        store="profile/candidate" name="work_relocation_ready"
        :label="$t('candidate.form.desired_work.work_relocation_ready')"
        :source="$store.getters['app/dataList']('common.yesno')"
        sourceType="object"
      />
      <tagInput
        v-show="+$store.state.profile.candidate.current.work_relocation_ready"
        store="profile/candidate"
        name="relocation_city_id"
        itemStore="work/cities"
        itemNameKey="fullName"
        :max="1"
        :maxVariants="10"
      />
      <radio-list
        store="profile/candidate" name="trip_ready"
        :label="$t('candidate.form.desired_work.trip_ready')"
        :source="$store.getters['app/dataList']('common.yesno')"
        sourceType="object"
      />
      <tagInput
        v-show="+$store.state.profile.candidate.current.trip_ready"
        store="profile/candidate"
        name="trip_city_id"
        itemStore="work/cities"
        itemNameKey="fullName"
        :max="1"
        :maxVariants="10"
      />
    </div>
  </div>
</template>

<script>
import InputComponent from '../../_controls/Input.vue';
import TagInput from '../../_controls/TagInput.vue';
import RadioList from '../../_controls/RadioList.vue';
import BitMask from '../../_controls/BitMask.vue';

export default {
  components: {
    InputComponent,
    TagInput,
    RadioList,
    BitMask,
  },
};
</script>
