<template>
  <div>
    <div class="h2">{{$t('candidate.form.education.header')}}</div>
    <div class="h3">
      {{$t('candidate.form.education.place')}}
    </div>
    <div
      class="withline"
      v-for="(education, index) in value"
      :key="index"
    >
      <a
        href="#" @click.prevent="remove(index)"
        class="text-light float-right"
      >
        {{$t('candidate.form.education.remove')}}
      </a>
      <radio-list
        store="profile/candidate"
        :name="`educations/${index}/type`"
        :deep="true"
        :label="$t('candidate.form.education.type')"
        :source="$store.getters['app/dataList']('work.education_type')"
        sourceType="object"
      />
      <radio-list
        store="profile/candidate"
        :name="`educations/${index}/form`"
        :deep="true"
        :label="$t('candidate.form.education.form')"
        :source="$store.getters['app/dataList']('work.education_form')"
        sourceType="object"
      />
      <inputComponent
        store="profile/candidate"
        :name="`educations/${index}/place_name`"
        :label="$t('candidate.form.education.place_name')"
        :deep="true"
      />
      <tagInput
        store="profile/candidate"
        :name="`educations/${index}/speciality`"
        :label="$t('candidate.form.education.speciality')"
        :deep="true"
        itemStore="work/specialities"
        itemNameKey="title"
        :max="1"
        :maxVariants="10"
      />
      <inputComponent
        store="profile/candidate"
        :name="`educations/${index}/graduate_year`"
        :label="$t('candidate.form.education.graduate_year')"
        :deep="true"
        type="number"
      />
      <textAreaInput
        store="profile/candidate"
        :name="`educations/${index}/comment`"
        :label="$t('candidate.form.education.comment')"
        :deep="true"
        type="number"
      />
    </div>
    <a href="#" @click.prevent="add" v-show="filled">
      {{$t('candidate.form.education.add')}}
    </a>
  </div>
</template>

<script>
import TagInput from '../../_controls/TagInput.vue';
import InputComponent from '../../_controls/Input.vue';
import TextAreaInput from '../../_controls/TextArea.vue';
import RadioList from '../../_controls/RadioList.vue';

export default {
  components: {
    TagInput,
    InputComponent,
    RadioList,
    TextAreaInput,
  },
  computed: {
    value() {
      return this.$store.state.profile.candidate.current.educations;
    },
    filled() {
      let ret = true;
      this.value.forEach((item) => {
        if (
          !item.type || !item.form || !item.speciality
          || !item.graduate_year || !item.comment
        ) {
          ret = false;
        }
      });
      return ret;
    },
  },
  created() {
    if (this.value.length == 0) {
      this.add();
    }
  },
  methods: {
    add() {
      const educations = [
        ...this.value,
        {},
      ];
      this.$store.commit('profile/candidate/updateCurrent', {
        key: 'educations',
        value: educations,
      });
    },
    remove(index) {
      if (confirm(this.$t('candidate.form.education.confirm'))) {
        const educations = [
          ...this.value,
        ];
        educations.splice(index, 1);
        this.$store.commit('profile/candidate/updateCurrent', {
          key: 'educations',
          value: educations,
        });
      }
    },
  },
};
</script>
