<template>
  <div>
    <div class="h2">{{$t('candidate.form.experience.header')}}</div>
    <div class="h3">
      {{$t('candidate.form.experience.workplace')}}
    </div>
    <div
      class="withline"
      v-for="(workplace, index) in value"
      :key="index"
    >
      <a
        href="#" @click.prevent="remove(index)"
        class="text-light float-right"
      >
        {{$t('candidate.form.experience.remove')}}
      </a>
      <tagInput
        store="profile/candidate"
        :name="`workplaces/${index}/profarea_id`"
        :label="$t('candidate.form.experience.profarea')"
        :deep="true"
        itemStore="work/profareas"
        itemNameKey="title"
        :max="1"
        :maxVariants="10"
      />
      <tagInput
        store="profile/candidate"
        :name="`workplaces/${index}/position_id`"
        :label="$t('candidate.form.experience.position')"
        :deep="true"
        itemStore="work/positions"
        itemNameKey="title"
        :max="1"
        :maxVariants="10"
      />
      <inputComponent
        store="profile/candidate"
        :name="`workplaces/${index}/duration`"
        :label="$t('candidate.form.experience.duration')"
        :deep="true"
        type="number"
      />
      <tagInput
        store="profile/candidate"
        :name="`workplaces/${index}/skills`"
        :label="$t('candidate.form.experience.skills')"
        :deep="true"
        itemStore="work/skills"
        itemNameKey="title"
        :max="5"
        :maxVariants="10"
      />
      <radio-list
        store="profile/candidate"
        :name="`workplaces/${index}/has_education`"
        :deep="true"
        :label="$t('candidate.form.experience.has_education')"
        :source="$store.getters['app/dataList']('common.yesno')"
        sourceType="object"
      />
      <radio-list
        store="profile/candidate"
        :name="`workplaces/${index}/has_recommendation`"
        :deep="true"
        :label="$t('candidate.form.experience.has_recommendation')"
        :source="$store.getters['app/dataList']('common.yesno')"
        sourceType="object"
      />
    </div>
    <a href="#" @click.prevent="add" v-show="filled">
      {{$t('candidate.form.experience.add')}}
    </a>
  </div>
</template>

<script>
import TagInput from '../../_controls/TagInput.vue';
import InputComponent from '../../_controls/Input.vue';
import RadioList from '../../_controls/RadioList.vue';

export default {
  components: {
    TagInput,
    InputComponent,
    RadioList,
  },
  computed: {
    value() {
      return this.$store.state.profile.candidate.current.workplaces;
    },
    filled() {
      let ret = true;
      this.value.forEach((item) => {
        if (
          !item.profarea_id || !item.position_id || !item.duration || !item.skills
          || !item.skills.length || !item.has_education || !item.has_recommendation
        ) {
          ret = false;
        }
      });
      return ret;
    },
  },
  created() {
    if (this.value.length == 0) {
      this.add();
    }
  },
  methods: {
    add() {
      const workplaces = [
        ...this.value,
        {},
      ];
      this.$store.commit('profile/candidate/updateCurrent', {
        key: 'workplaces',
        value: workplaces,
      });
    },
    remove(index) {
      if (confirm(this.$t('candidate.form.experience.confirm'))) {
        const workplaces = [
          ...this.value,
        ];
        workplaces.splice(index, 1);
        this.$store.commit('profile/candidate/updateCurrent', {
          key: 'workplaces',
          value: workplaces,
        });
      }
    },
  },
};
</script>
