<template>
  <div>
    <div class="h2">
      {{$t('candidate.form.individual.header')}}
    </div>
    <div class="withline">
      <tagInput
        store="profile/candidate"
        name="qualities"
        :label="$t('candidate.form.individual.qualities')"
        itemStore="work/qualities"
        itemNameKey="title"
        :max="5"
        :maxVariants="10"
      />
    </div>
    <div class="withline">
      <tagInput
        store="profile/candidate"
        name="skills"
        :label="$t('candidate.form.individual.skills')"
        itemStore="work/skills"
        itemNameKey="title"
        :max="5"
        :maxVariants="10"
      />
    </div>
  </div>
</template>

<script>
import TagInput from '../../_controls/TagInput.vue';

export default {
  components: {
    TagInput,
  },
};
</script>
