<template>
  <div>
    <div class="h2">
      {{$t('candidate.form.other.header')}}
    </div>
    <inputComponent
      store="profile/candidate" name="height"
      :label="$t('candidate.form.other.height')"
      type="number"
    />
    <radio-list
      store="profile/candidate"
      name="body_type"
      :label="$t('candidate.form.other.body_type')"
      :source="$store.getters['app/dataList']('work.body_type')"
      sourceType="object"
    />
    <radio-list
      store="profile/candidate"
      name="clothing_size"
      :label="$t('candidate.form.other.clothing_size')"
      :source="$store.getters['app/dataList']('work.clothing_size')"
      sourceType="object"
    />
    <inputComponent
      store="profile/candidate" name="shoe_size"
      :label="$t('candidate.form.other.shoe_size')"
      type="number"
    />
    <radio-list
      store="profile/candidate"
      name="is_smoking"
      :label="$t('candidate.form.other.is_smoking')"
      :source="$store.getters['app/dataList']('common.yesno')"
      sourceType="object"
    />
    <tagInput
      store="profile/candidate"
      name="languages"
      :label="$t('candidate.form.other.languages')"
      itemStore="work/languages"
      itemNameKey="title"
      :max="5"
      :maxVariants="10"
    />
    <radio-list
      store="profile/candidate"
      name="has_medical_book"
      :label="$t('candidate.form.other.has_medical_book')"
      :source="$store.getters['app/dataList']('common.yesno')"
      sourceType="object"
    />
    <radio-list
      store="profile/candidate"
      name="can_work_in_russia"
      :label="$t('candidate.form.other.can_work_in_russia')"
      :source="$store.getters['app/dataList']('common.yesno')"
      sourceType="object"
    />
    <bitMask
      store="profile/candidate"
      name="drivers_license"
      :source="$store.getters['app/dataList']('work.drivers_license')"
      :label="$t('candidate.form.other.drivers_license')"
    />
  </div>
</template>

<script>
import inputComponent from '../../_controls/Input.vue';
import RadioList from '../../_controls/RadioList.vue';
import BitMask from '../../_controls/BitMask.vue';
import TagInput from '../../_controls/TagInput.vue';

export default {
  components: {
    inputComponent,
    RadioList,
    BitMask,
    TagInput,
  },
};
</script>
