<template>

  <div class="container">
    <div class="card">
      <div class="row">
        <div class="col-sm-8">
          <div class="card-body">
            <contactInfo />
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card-body ml-0">
            <a :href="$store.state.app.previewLink" class="btn btn-secondary btn-block">
              {{$t('controls.button.preview')}}
            </a>
            <input
              type="submit" class="btn btn-primary btn-block" @click="save"
              :value="$t('controls.button.save')"
            >
          </div>
        </div>
      </div>
      <hr class="my-0">
      <div class="row">
        <div class="col-sm-8">
          <div class="card-body">
            <individual />
          </div>
        </div>
      </div>
      <hr class="my-0">
      <div class="row">
        <div class="col-sm-8">
          <div class="card-body">
            <desiredWork />
            <desiredProfarea />
            <desiredSpeciality />
          </div>
        </div>
      </div>
      <hr class="my-0">
      <div class="row">
        <div class="col-sm-8">
          <div class="card-body">
            <experience />
          </div>
        </div>
      </div>
      <hr class="my-0">
      <div class="row">
        <div class="col-sm-8">
          <div class="card-body">
            <education />
          </div>
        </div>
      </div>
      <hr class="my-0">
      <div class="row">
        <div class="col-sm-8">
          <div class="card-body">
            <other />
          </div>
        </div>
      </div>
    </div>
  </div>

</template>

<script>
import contactInfo from './_contactInfo.vue';
import individual from './_individual.vue';
import desiredWork from './_desiredWork.vue';
import desiredProfarea from './_desiredProfarea.vue';
import desiredSpeciality from './_desiredSpeciality.vue';
import experience from './_experience.vue';
import education from './_education.vue';
import other from './_other.vue';

export default {
  name: 'Form',
  components: {
    contactInfo,
    individual,
    desiredWork,
    desiredProfarea,
    desiredSpeciality,
    experience,
    education,
    other,
  },
  methods: {
    save() {
      const data = this.$store.getters['profile/candidate/getCurrent'];

      this.$store.dispatch('app/CALL_API', {
        url: `/api/profile/candidates/${data.id}`,
        method: 'put',
        data,
        onSuccess: 'profile/candidate/updateCurrent',
        notify: this.$t('candidate.form.notifications.saved'),
      });
    },
  },
  created() {
    this.$store.commit('profile/candidate/loadCurrent', {
      data: window.profile,
    });
  },
};
</script>

<style scoped>

</style>
