<template>
  <loading v-if="$store.state.app.loading"/>
  <div v-else class="users_form">
    <inputComponent
      store="core/users" name="name"
      :label="$t('admin.users.listTable.name')"/>
    <inputComponent
      store="core/users" name="email" type="email"
      :label="$t('admin.users.listTable.email')"/>
    <inputComponent
      store="core/users" name="phone"
      :label="$t('admin.users.listTable.phone')"/>
    <inputComponent
      store="core/users" name="phone_ext"
      :label="$t('admin.users.listTable.phone_ext')"/>
    <inputComponent
      store="core/users" name="password" type="password"
      :label="$t('controls.label.password')"
    />
    <inputComponent
      store="core/users" name="password_confirmation" type="password"
      :label="$t('controls.label.password_confirmed')"
    />

    <tagInput
      store="core/users"
      name="role_ids"
      :label="$t('admin.users.listTable.roles')"
      itemNameKey="display_name"
      itemStore="core/roles"/>

    <a href="#" class="btn btn-primary" @click.prevent="save()">
      {{$t('controls.button.save')}}
    </a>
  </div>
</template>

<script>
import inputComponent from '../../_controls/Input.vue';
import tagInput from '../../_controls/TagInput.vue';

export default {
  data() {
    return {
      isNew: true,
    };
  },
  components: {
    inputComponent,
    tagInput,
  },
  created() {
    this.fetchData();
  },
  watch: {
    $route: 'fetchData',
  },
  methods: {
    fetchData() {
      const { id } = this.$route.params;
      if (id) {
        // Edit existing user
        this.isNew = false;
        const user = this.$store.state.core.users.list[id];

        if (user) {
          this.$store.dispatch('core/users/SET_CURRENT', user);
        } else {
          // User not loaded yet
          this.$store.dispatch('app/CALL_API', {
            method: 'get',
            url: `/api/users/${id}`,
            onSuccess: 'core/users/loadCurrent',
          });
        }
      } else {
        // Create new user
        this.isNew = true;
        this.$store.dispatch('core/users/RESET_CURRENT');
      }
    },
    save() {
      const user = this.$store.state.core.users.current;
      this.$store.dispatch('app/CALL_API', {
        url: this.isNew ? '/api/users' : `/api/users/${user.id}`,
        method: this.isNew ? 'post' : 'put',
        data: user,
        onSuccess: this.isNew ? 'core/users/create' : 'core/users/loadCurrent',
        notify: this.$t('admin.users.actions.saved_successful'),
      });
    },
  },
};
</script>
