<template>
  <loading v-if="$store.state.app.loading"/>
  <div v-else class="users_list">
    <div>
      <table class="table">
        <thead>
          <tr>
            <th>{{$t('admin.users.listTable.name')}}</th>
            <th>{{$t('admin.users.listTable.email')}}</th>
            <th>{{$t('admin.users.listTable.roles')}}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="user in $store.state.core.users.list"
            :key="user.id"
            class="has-shy" >
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>
              <span
                v-for="role in user.roles" :key="role.id"
                class="badge badge-secondary mr-1">
                {{role.display_name}}
              </span>
            </td>
            <td class="shy">
              <a
                href="#" class="btn btn-sm btn-secondary"
                @click.prevent="edit(user.id)" v-if="can('core.users.update')">
                <i class="icofont-edit-alt"></i>
              </a>
              <a
                href="#" class="btn btn-sm btn-danger"
                @click.prevent="remove(user.id)" v-if="can('core.users.delete')">
                <i class="icofont-trash"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
export default {
  created() {
    this.fetchData();
  },
  watch: {
    $route: 'fetchData',
  },
  methods: {
    fetchData() {
      this.$store.dispatch('app/CALL_API', {
        method: 'get',
        url: '/api/users',
        onSuccess: 'core/users/loadList',
      });
    },
    edit(id) {
      this.$router.push({
        name: 'users.edit',
        params: {
          id,
        },
      });
    },
    remove(id) {
      if (confirm(this.$t('admin.users.actions.delete_ask'))) {
        this.$store.dispatch('app/CALL_API', {
          method: 'delete',
          url: `/api/users/${id}`,
          onSuccess: 'core/users/remove',
          notify: this.$t('admin.users.actions.deleted_successful'),
        });
      }
    },
  },
};
</script>
