<template>
  <div class="form-group">
    <label v-if="withLabel">{{inputLabel}}</label>
    <div class="input-group">
      <input
        ref="input"
        :type="inputType" class="form-control"
        :class="{'is-invalid': hasError}"
        :value="inputValue"
        @change="evt => update(evt.target.value)"
        :autocomplete="this.type=='password' ? 'new-password' : 'off'"
        :disabled="disabled"
      >
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary dropdown-toggle"
          type="button"
          data-toggle="dropdown"
        >
          {{locale}}
        </button>
        <div class="dropdown-menu">
          <a
            v-for="loc in locales" :key="loc"
            class="dropdown-item"
            :class="{'active':(loc==locale)}"
            href="#"
            @click.prevent="() => changeLocale(loc)"
          >
            {{loc}}
          </a>
        </div>
      </div>
    </div>

    <small v-if="hasError" class="text-danger" v-html="getError"></small>
  </div>
</template>

<script>
export default {
  name: 'MLInput',
  data() {
    return {
      inputType: this.type || 'text',
      inputLabel: this.label || this.name,
      locale: 'ru',
    };
  },
  computed: {
    locales() {
      return this.$store.state.content.translations.locales;
    },
    inputValue() {
      const current = this.$store.getters[`${this.store}/getCurrent`];
      if (!current.translations || !current.translations[this.locale]) {
        return '';
      }
      return current.translations[this.locale][this.name];
    },
    hasError() {
      for (let i = 0; i < this.locales.length; i += 1) {
        const loc = this.locales[i];
        if (this.$store.state.app.error[`translations.${loc}.${this.name}`]) {
          return true;
        }
      }
      return false;
    },
    getError() {
      const ret = [];
      for (let i = 0; i < this.locales.length; i += 1) {
        const loc = this.locales[i];
        const err = this.$store.state.app.error[`translations.${loc}.${this.name}`];
        if (err) {
          ret.push(err[0]);
        }
      }
      return ret.join('<br>');
    },
  },
  props: {
    type: {
      type: String,
      default: '',
    },
    store: {
      type: String,
    },
    name: {
      type: String,
    },
    label: {
      type: String,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    withLabel: {
      type: Boolean,
      default: true,
    },

  },
  methods: {
    changeLocale(loc) {
      this.locale = loc;
      this.$refs.input.focus();
    },
    update(value) {
      this.$store.dispatch(
        `${this.store}/UPDATE_CURRENT`, {
          key: this.name,
          value,
          locale: this.locale,
        },
      );
    },
  },
};
</script>
