<template>
  <div class="form-group">
    <label>{{inputLabel}}</label>

    <div class="float-right">
      <button
        class="btn btn-link btn-sm dropdown-toggle text-secondary"
        type="button"
        data-toggle="dropdown"
      >
        {{locale}}
      </button>
      <div class="dropdown-menu">
        <a
          v-for="loc in locales" :key="loc"
          class="dropdown-item"
          :class="{'active':(loc==locale)}"
          href="#"
          @click.prevent="() => changeLocale(loc)"
        >
          {{loc}}
        </a>
      </div>
    </div>

    <textarea
      ref="input"
      class="form-control"
      rows=5
      :class="{'is-invalid': hasError}"
      :value="inputValue"
      @change="evt => update(evt.target.value)"
      :disabled="disabled"
    ></textarea>

    <small v-if="hasError" class="text-danger" v-html="getError"></small>
  </div>
</template>

<script>
export default {
  name: 'MLTextArea',
  data() {
    return {
      inputLabel: this.label || this.name,
      locale: 'ru',
    };
  },
  computed: {
    locales() {
      return this.$store.state.content.translations.locales;
    },
    inputValue() {
      const current = this.$store.getters[`${this.store}/getCurrent`];
      if (!current.translations || !current.translations[this.locale]) {
        return '';
      }
      return current.translations[this.locale][this.name];
    },
    hasError() {
      for (let i = 0; i < this.locales.length; i += 1) {
        const loc = this.locales[i];
        if (this.$store.state.app.error[`translations.${loc}.${this.name}`]) {
          return true;
        }
      }
      return false;
    },
    getError() {
      const ret = [];
      for (let i = 0; i < this.locales.length; i += 1) {
        const loc = this.locales[i];
        const err = this.$store.state.app.error[`translations.${loc}.${this.name}`];
        if (err) {
          ret.push(err[0]);
        }
      }
      return ret.join('<br>');
    },
  },
  props: {
    store: {
      type: String,
    },
    name: {
      type: String,
    },
    label: {
      type: String,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
  },
  methods: {
    changeLocale(loc) {
      this.locale = loc;
      this.$refs.input.focus();
    },
    update(value) {
      this.$store.dispatch(
        `${this.store}/UPDATE_CURRENT`, {
          key: this.name,
          value,
          locale: this.locale,
        },
      );
    },
  },
};
</script>
