// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html {
    font-size: 13px;
}
h1, .h1, h2, .h2 { font-weight: bold; }
h3, .h3, h4, .h4, a { font-weight: 600; }
h5, .h5 {
    font-weight: normal;
    color: $light;
}

// Custom
.withline {
    padding-left: 20px;
    padding-top: 10px;
    margin-bottom: 2em;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 5px;
        background-color: #F5F5F5;
        border-radius: 5px;
    }
    &:hover::before {
        background-color: $secondary;
    }
}
