<template>
  <loading v-if="$store.state.app.loading"/>
  <div v-else class="cities_form">
    <mlinput
      store="work/cities" name="name"
      :label="$t('admin.cities.editForm.name')"/>

    <tagInput
      store="work/cities" name="region_id"
      itemStore="work/regions" itemNameKey="name"
      :max="1"
      :label="$t('admin.cities.editForm.region')"
    />

    <a href="javascript:;" class="btn btn-primary" @click="save()">
      {{$t('controls.button.save')}}
    </a>
  </div>
</template>

<script>
import MLInput from '../../_controls/ml/Input.vue';
import TagInput from '../../_controls/TagInput.vue';


export default {
  data() {
    return {
      isNew: true,
    };
  },
  components: {
    mlinput: MLInput,
    tagInput: TagInput,
  },
  created() {
    this.fetchData();
  },
  watch: {
    $route: 'fetchData',
  },
  methods: {
    fetchData() {
      this.$store.dispatch('work/cities/RESET_CURRENT');
      const { id } = this.$route.params;
      if (id) {
        // Edit existing city
        this.isNew = false;
        const city = this.$store.state.work.cities.list[id];

        if (city) {
          this.$store.dispatch('work/cities/SET_CURRENT', city);
        } else {
          // Page not loaded yet
          this.$store.dispatch('app/CALL_API', {
            method: 'get',
            url: `/api/cities/${id}`,
            onSuccess: 'work/cities/loadCurrent',
          });
        }
      } else {
        // Create new city
        this.isNew = true;
      }
    },
    save() {
      const city = this.$store.state.work.cities.current;
      this.$store.dispatch('app/CALL_API', {
        url: this.isNew ? '/api/cities' : `/api/cities/${city.id}`,
        method: this.isNew ? 'post' : 'put',
        data: city,
        onSuccess: this.isNew ? 'work/cities/create' : 'work/cities/loadCurrent',
        notify: this.$t('admin.cities.actions.saved_successful'),
      });
    },
  },
};
</script>
