<template>
  <loading v-if="$store.state.app.loading"/>
  <div v-else class="countries_form">
    <mlinput
      store="work/countries" name="name"
      :label="$t('admin.countries.editForm.name')"/>

    <a href="javascript:;" class="btn btn-primary" @click="save()">
      {{$t('controls.button.save')}}
    </a>
  </div>
</template>

<script>
import MLInput from '../../_controls/ml/Input.vue';

export default {
  data() {
    return {
      isNew: true,
    };
  },
  components: {
    mlinput: MLInput,
  },
  created() {
    this.fetchData();
  },
  watch: {
    $route: 'fetchData',
  },
  methods: {
    fetchData() {
      this.$store.dispatch('work/countries/RESET_CURRENT');
      const { id } = this.$route.params;
      if (id) {
        // Edit existing country
        this.isNew = false;
        const country = this.$store.state.work.countries.list[id];

        if (country) {
          this.$store.dispatch('work/countries/SET_CURRENT', country);
        } else {
          // Page not loaded yet
          this.$store.dispatch('app/CALL_API', {
            method: 'get',
            url: `/api/countries/${id}`,
            onSuccess: 'work/countries/loadCurrent',
          });
        }
      } else {
        // Create new country
        this.isNew = true;
      }
    },
    save() {
      const country = this.$store.state.work.countries.current;
      this.$store.dispatch('app/CALL_API', {
        url: this.isNew ? '/api/countries' : `/api/countries/${country.id}`,
        method: this.isNew ? 'post' : 'put',
        data: country,
        onSuccess: this.isNew ? 'work/countries/create' : 'work/countries/loadCurrent',
        notify: this.$t('admin.countries.actions.saved_successful'),
      });
    },
  },
};
</script>
