<template>
  <loading v-if="$store.state.app.loading"/>
  <div v-else class="countries_list">
    <div>
      <table class="table">
        <thead>
          <tr>
            <th>{{$t('admin.countries.listTable.name')}}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="country in $store.state.work.countries.list"
            :key="country.id"
            class="has-shy"
          >
            <td>{{country.name}}</td>
            <td class="shy">
              <a
                href="#" class="btn btn-sm btn-secondary"
                @click.prevent="edit(country.id)" v-if="can('work.countries.update')">
                <i class="icofont-edit-alt"></i>
              </a>
              <a
                href="#" class="btn btn-sm btn-danger"
                @click.prevent="remove(country.id)" v-if="can('work.countries.delete')">
                <i class="icofont-trash"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>

export default {
  created() {
    this.fetchData();
  },
  watch: {
    $route: 'fetchData',
  },
  methods: {
    fetchData() {
      this.$store.dispatch('app/CALL_API', {
        method: 'get',
        url: '/api/countries',
        onSuccess: 'work/countries/loadList',
      });
    },
    edit(id) {
      this.$router.push({
        name: 'countries.edit',
        params: {
          id,
        },
      });
    },
    remove(id) {
      if (confirm(this.$t('admin.countries.actions.delete_ask'))) {
        this.$store.dispatch('app/CALL_API', {
          method: 'delete',
          url: `/api/countries/${id}`,
          onSuccess: 'work/countries/remove',
          notify: this.$t('admin.countries.actions.deleted_successful'),
        });
      }
    },
  },
};
</script>
