<template>
  <loading v-if="$store.state.app.loading"/>
  <div v-else class="skills_form">
    <mlinput
      store="work/skills" name="title"
      :label="$t('admin.skills.editForm.title')"/>

    <a href="javascript:;" class="btn btn-primary" @click="save()">
      {{$t('controls.button.save')}}
    </a>
  </div>
</template>

<script>
import MLInput from '../../_controls/ml/Input.vue';

export default {
  data() {
    return {
      isNew: true,
    };
  },
  components: {
    mlinput: MLInput,
  },
  created() {
    this.fetchData();
  },
  watch: {
    $route: 'fetchData',
  },
  methods: {
    fetchData() {
      this.$store.dispatch('work/skills/RESET_CURRENT');
      const { id } = this.$route.params;
      if (id) {
        // Edit existing skill
        this.isNew = false;
        const skill = this.$store.state.work.skills.list[id];

        if (skill) {
          this.$store.dispatch('work/skills/SET_CURRENT', skill);
        } else {
          // Page not loaded yet
          this.$store.dispatch('app/CALL_API', {
            method: 'get',
            url: `/api/skills/${id}`,
            onSuccess: 'work/skills/loadCurrent',
          });
        }
      } else {
        // Create new skill
        this.isNew = true;
      }
    },
    save() {
      const skill = this.$store.state.work.skills.current;
      this.$store.dispatch('app/CALL_API', {
        url: this.isNew ? '/api/skills' : `/api/skills/${skill.id}`,
        method: this.isNew ? 'post' : 'put',
        data: skill,
        onSuccess: this.isNew ? 'work/skills/create' : 'work/skills/loadCurrent',
        notify: this.$t('admin.skills.actions.saved_successful'),
      });
    },
  },
};
</script>
