<template>
  <loading v-if="$store.state.app.loading"/>
  <div v-else class="positions_form">
    <mlinput
      store="work/positions" name="title"
      :label="$t('admin.positions.editForm.title')"/>

    <a href="javascript:;" class="btn btn-primary" @click="save()">
      {{$t('controls.button.save')}}
    </a>
  </div>
</template>

<script>
import MLInput from '../../_controls/ml/Input.vue';

export default {
  data() {
    return {
      isNew: true,
    };
  },
  components: {
    mlinput: MLInput,
  },
  created() {
    this.fetchData();
  },
  watch: {
    $route: 'fetchData',
  },
  methods: {
    fetchData() {
      this.$store.dispatch('work/positions/RESET_CURRENT');
      const { id } = this.$route.params;
      if (id) {
        // Edit existing position
        this.isNew = false;
        const position = this.$store.state.work.positions.list[id];

        if (position) {
          this.$store.dispatch('work/positions/SET_CURRENT', position);
        } else {
          // Page not loaded yet
          this.$store.dispatch('app/CALL_API', {
            method: 'get',
            url: `/api/positions/${id}`,
            onSuccess: 'work/positions/loadCurrent',
          });
        }
      } else {
        // Create new position
        this.isNew = true;
      }
    },
    save() {
      const position = this.$store.state.work.positions.current;
      this.$store.dispatch('app/CALL_API', {
        url: this.isNew ? '/api/positions' : `/api/positions/${position.id}`,
        method: this.isNew ? 'post' : 'put',
        data: position,
        onSuccess: this.isNew ? 'work/positions/create' : 'work/positions/loadCurrent',
        notify: this.$t('admin.positions.actions.saved_successful'),
      });
    },
  },
};
</script>
