<template>
  <loading v-if="$store.state.app.loading"/>
  <div v-else class="positions_list">
    <div>
      <table class="table">
        <thead>
          <tr>
            <th>{{$t('admin.positions.listTable.title')}}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="position in $store.state.work.positions.list"
            :key="position.id"
            class="has-shy"
          >
            <td>{{position.title}}</td>
            <td class="shy">
              <a
                href="#" class="btn btn-sm btn-secondary"
                @click.prevent="edit(position.id)" v-if="can('work.positions.update')">
                <i class="icofont-edit-alt"></i>
              </a>
              <a
                href="#" class="btn btn-sm btn-danger"
                @click.prevent="remove(position.id)" v-if="can('work.positions.delete')">
                <i class="icofont-trash"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>

export default {
  created() {
    this.fetchData();
  },
  watch: {
    $route: 'fetchData',
  },
  methods: {
    fetchData() {
      this.$store.dispatch('app/CALL_API', {
        method: 'get',
        url: '/api/positions',
        onSuccess: 'work/positions/loadList',
      });
    },
    edit(id) {
      this.$router.push({
        name: 'positions.edit',
        params: {
          id,
        },
      });
    },
    remove(id) {
      if (confirm(this.$t('admin.positions.actions.delete_ask'))) {
        this.$store.dispatch('app/CALL_API', {
          method: 'delete',
          url: `/api/positions/${id}`,
          onSuccess: 'work/positions/remove',
          notify: this.$t('admin.positions.actions.deleted_successful'),
        });
      }
    },
  },
};
</script>
