<template>
  <loading v-if="$store.state.app.loading"/>
  <div v-else class="profareas_form">
    <mlinput
      store="work/profareas" name="title"
      :label="$t('admin.profareas.editForm.title')"/>

    <a href="javascript:;" class="btn btn-primary" @click="save()">
      {{$t('controls.button.save')}}
    </a>
  </div>
</template>

<script>
import MLInput from '../../_controls/ml/Input.vue';

export default {
  data() {
    return {
      isNew: true,
    };
  },
  components: {
    mlinput: MLInput,
  },
  created() {
    this.fetchData();
  },
  watch: {
    $route: 'fetchData',
  },
  methods: {
    fetchData() {
      this.$store.dispatch('work/profareas/RESET_CURRENT');
      const { id } = this.$route.params;
      if (id) {
        // Edit existing profarea
        this.isNew = false;
        const profarea = this.$store.state.work.profareas.list[id];

        if (profarea) {
          this.$store.dispatch('work/profareas/SET_CURRENT', profarea);
        } else {
          // Page not loaded yet
          this.$store.dispatch('app/CALL_API', {
            method: 'get',
            url: `/api/profareas/${id}`,
            onSuccess: 'work/profareas/loadCurrent',
          });
        }
      } else {
        // Create new profarea
        this.isNew = true;
      }
    },
    save() {
      const profarea = this.$store.state.work.profareas.current;
      this.$store.dispatch('app/CALL_API', {
        url: this.isNew ? '/api/profareas' : `/api/profareas/${profarea.id}`,
        method: this.isNew ? 'post' : 'put',
        data: profarea,
        onSuccess: this.isNew ? 'work/profareas/create' : 'work/profareas/loadCurrent',
        notify: this.$t('admin.profareas.actions.saved_successful'),
      });
    },
  },
};
</script>
