<template>
  <div class="bitmask">
    <label v-if="label">{{label}}</label>
    <div class="form-group">
      <div
        class="custom-control custom-checkbox mb-1"
        :class="{'custom-control-inline': inline}"
        v-for="(title, bit) in source" :key="bit"
      >
        <input
          class="custom-control-input"
          type="checkbox"
          ref="checkbox"
          :id="`${store}_${name}_${bit}`"
          :value="bit"
          :checked="(itemValue & bit) != 0"
          @change="update"
        >
        <label class="custom-control-label" :for="`${store}_${name}_${bit}`">
          {{title}}
        </label>
      </div>
      <div v-if="hasError" class="text-danger">
        <small>{{getError}}</small>
      </div>
    </div>
  </div>
</template>

<script>
/*
Gets source object as bit-title pair, i.e.
{
  1: 'Equals to 0b1',
  2: 'Equals to 0b10',
  4: 'Equals to 0b100',
  8: 'Equals to 0b1000',
}
Resulting item value equals to sum of checked bits, i.e.
if bits 2 (0b10) and 8 (0b1000) are checked, then result is 10 (0b1010).

To understand if bit is checked, we need to use bitwise and operation.
If result is 10 (0b1010):
10 & 2 = 2 (0b1010 & 0b0010 = 0b0010)
10 & 4 = 0 (0b1010 & 0b0100 = 0b0000)
*/
export default {
  name: 'BitMask',
  props: {
    source: {
      type: Object,
    },
    store: {
      type: String,
    },
    name: {
      type: String,
    },
    label: {
      type: String,
      default: null,
    },
    inline: {
      type: Boolean,
      default: true,
    },
  },
  computed: {
    itemValue() {
      return this.$store.getters[`${this.store}/getCurrent`][this.name];
    },
    hasError() {
      return this.$store.state.app.error[this.name.replace(/\//g, '.')];
    },
    getError() {
      return this.hasError[0];
    },
  },

  methods: {
    update() {
      const value = this.$refs.checkbox
        .filter((el) => el.checked)
        .reduce((total, el) => total + (+el.value), 0);

      this.$store.dispatch(
        `${this.store}/UPDATE_CURRENT`, {
          key: this.name,
          value,
        },
      );
    },
  },
};
</script>

<style scoped>

</style>
