<template>
  <radio-list
    :source-type="'array'"
    :source="{0: {id: 0, name: falseLabel}, 1: {id: 1, name: trueLabel}}"
    :store="store"
    :name="name"
    :label="label"
    :matcher="matcher"
  />
</template>

<script>
import RadioList from './RadioList.vue';

export default {
  name: 'BooleanRadio',
  components: { RadioList },
  props: {

    falseLabel: {
      type: String,
    },
    trueLabel: {
      type: String,
    },

    store: {
      type: String,
    },
    name: {
      type: String,
    },
    label: {
      type: String,
      default: null,
    },
  },
  methods: {
    matcher(listValue, currentValue) {
      return !!listValue === currentValue;
    },
  },
};
</script>

<style scoped>

</style>
