<template>
  <div class="form-group">
    <label v-if="label">{{label}}</label>
    <editor
      ref="editor"
      :value="$store.state[store].current[name]"
      :options="{
                usageStatistics: false,
                hideModeSwitch: true
            }"
      mode="wysiwyg"
      @change="update"
    />
    <small v-if="hasError" class="text-danger">
      {{getError}}
    </small>
  </div>
</template>

<script>
// eslint-disable-next-line import/no-extraneous-dependencies
import 'tui-editor/dist/tui-editor.css';
// eslint-disable-next-line import/no-extraneous-dependencies
import 'tui-editor/dist/tui-editor-contents.css';
import Editor from '@toast-ui/vue-editor/src/Editor.vue';

export default {
  name: 'editorInput',
  components: {
    editor: Editor,
  },
  computed: {
    hasError() {
      return this.$store.state.app.error[this.name];
    },
    getError() {
      return this.$store.state.app.error[this.name][0];
    },
  },
  props: {
    withLabel: {
      type: Boolean,
      default: true,
    },
    store: {
      type: String,
    },
    name: {
      type: String,
    },
    label: {
      type: String,
      default: null,
    },
  },
  methods: {
    update() {
      const value = this.$refs.editor.invoke('getMarkdown');

      this.$store.dispatch(
        `${this.store}/UPDATE_CURRENT`,
        { key: this.name, value },
      );
    },
  },
};
</script>
