<template>
  <div class="form-group">
    <label v-if="label">{{label}}</label>
    <input
      type="file" class="form-control"
      :class="{'is-invalid': hasError}"
      @change="update"
      :accept="accept"
      :disabled="disabled"
    >
    <small v-if="hasError" class="text-danger">
      {{getError}}
    </small>
  </div>
</template>

<script>
export default {
  name: 'fileComponent',
  computed: {
    hasError() {
      return this.$store.state.app.error[this.name];
    },
    getError() {
      return this.$store.state.app.error[this.name][0];
    },
  },
  props: {
    store: {
      type: String,
    },
    name: {
      type: String,
    },
    label: {
      type: String,
      default: null,
    },
    accept: {
      type: String,
      default: '*',
    },
    disabled: {
      type: Boolean,
      default: false,
    },

  },
  methods: {
    update(value) {
      const file = value && value.target && value.target.files ? value.target.files[0] : null;
      this.$store.dispatch(
        `${this.store}/UPDATE_CURRENT`, {
          key: this.name, value: file,
        },
      );
    },
  },
};
</script>
