<template>
  <div class="form-group">
    <label v-if="label">{{label}}</label>
    <input
      :type="type" class="form-control"
      :class="{'is-invalid': hasError}"
      :value="inputValue"
      @change="evt => update(evt.target.value)"
      :autocomplete="this.type=='password' ? 'new-password' : 'off'"
      :disabled="disabled">
    <small v-if="hasError" class="text-danger">
      {{getError}}
    </small>
  </div>
</template>

<script>
export default {
  name: 'inputComponent',
  computed: {
    inputValue() {
      return this.deep
        ? this.$deepGet(this.parentModel, this.name)
        : this.parentModel[this.name];
    },
    parentModel() {
      return this.$store.getters[`${this.store}/getCurrent`];
    },
    hasError() {
      return this.$store.state.app.error[this.name.replace(/\//g, '.')];
    },
    getError() {
      return this.hasError[0];
    },
  },
  props: {
    type: {
      type: String,
      default: 'text',
    },
    store: {
      type: String,
    },
    name: {
      type: String,
    },
    deep: {
      type: Boolean,
      default: false,
    },
    label: {
      type: String,
      default: null,
    },
    disabled: {
      type: Boolean,
      default: false,
    },

  },
  methods: {
    update(value) {
      this.$store.dispatch(
        `${this.store}/UPDATE_CURRENT`, {
          key: this.name, value,
        },
      );
    },
  },
};
</script>
