<template>
  <div class="radiolist">
    <label v-if="label">{{label}}</label>
    <div class="form-group">
      <div
        class="custom-control custom-radio mb-1"
        :class="{'custom-control-inline': inline}"
        v-for="(title, key) in itemsList" :key="key">
        <input
          class="custom-control-input"
          @change="evt => update(evt.target.value)"
          :name="name"
          type="radio"
          :id="`${store}_${name}_${key}`"
          :value="key"
          :checked="key == value"
        >
        <label class="custom-control-label" :for="`${store}_${name}_${key}`">
          {{title}}
        </label>
      </div>
      <div v-if="hasError" class="text-danger">
        <small>{{getError}}</small>
      </div>
    </div>
  </div>

</template>

<script>
export default {
  name: 'radioList',
  props: {
    sourceType: {
      type: String,
      default: 'store',
    },
    source: {
      type: [Object, Array],
    },
    store: {
      type: String,
    },
    name: {
      type: String,
    },
    deep: {
      type: Boolean,
      default: false,
    },
    label: {
      type: String,
      default: null,
    },
    itemNameKey: {
      type: String,
      default: 'name',
    },
    itemStore: {
      type: String,
    },
    inline: {
      type: Boolean,
      default: true,
    },
  },

  data() {
    return {
      query: '',
      tagLabel: this.itemNameKey,
      focus: false,
    };
  },
  computed: {
    parentModel() {
      return this.$store.getters[`${this.store}/getCurrent`];
    },
    value() {
      return this.deep
        ? this.$deepGet(this.parentModel, this.name)
        : this.parentModel[this.name];
    },
    hasError() {
      return this.$store.state.app.error[this.name.replace(/\//g, '.')];
    },
    getError() {
      return this.hasError[0];
    },
    itemsList() {
      if (this.sourceType === 'store') {
        const list = {};
        Object.values(this.$store.getters[`${this.itemStore}/getList`]).forEach((item) => {
          list[item.id] = item[this.itemNameKey];
        });
        return list;
      }
      return this.source;
    },
  },
  methods: {
    update(value) {
      this.$store.dispatch(
        `${this.store}/UPDATE_CURRENT`, {
          key: this.name, value,
        },
      );
    },
  },
};
</script>
