<template>
  <div class="form-group">
    <label v-if="label">{{label}}</label>

    <select
      class="form-control"
      @change="(ev) => update(ev.target.value)"
      :name="name"
    >
      <option v-if="withEmpty" value="" :selected="!$store.getters[`${store}/getCurrent`][name]"></option>
      <option
        v-for="item in itemsList"
        :key="item.id"
        :value="item.id"
        :selected="$store.getters[`${store}/getCurrent`][name]==item.id"
      >
        {{item[itemNameKey]}}
      </option>
    </select>

    <small v-if="hasError" class="text-danger">{{getError}}</small>
  </div>

</template>

<script>
export default {
  name: 'SelectComponent',
  props: {
    sourceType: {
      type: String,
      default: 'store',
    },
    source: {
      type: [Object, Array],
    },
    store: {
      type: String,
    },
    name: {
      type: String,
    },
    label: {
      type: String,
      default: null,
    },
    itemNameKey: {
      type: String,
      default: 'name',
    },
    itemStore: {
      type: String,
    },
    withEmpty: {
      type: Boolean,
      default: false,
    },
  },

  data() {
    return {
      query: '',
      inputLabel: this.label || this.name,
      tagLabel: this.itemNameKey,
    };
  },
  computed: {
    hasError() {
      return this.$store.state.app.error[this.name];
    },
    getError() {
      return this.$store.state.app.error[this.name][0];
    },
    itemsList() {
      if (this.sourceType === 'array') {
        return this.source;
      }
      return this.$store.getters[`${this.itemStore}/getList`];
    },
  },
  methods: {
    update(value) {
      this.$store.dispatch(
        `${this.store}/UPDATE_CURRENT`, {
          key: this.name, value,
        },
      );
    }
    ,
  }
  ,
};
</script>
