<template>
  <div class="tag-input" :class="{'text-danger':hasError}">
    <div class="form-group" v-if="itemsCount">
      <label v-if="label">{{label}}</label>
      <div>
        <div
          class="btn-group mr-2 mb-2"
          v-for="item_id in value"
          :key="item_id"
        >
          <span class="btn btn-primary btn-sm">
            {{itemsList[item_id][itemNameKey]}}
          </span>
          <a
            href="#" class="btn btn-primary btn-sm"
            @click.prevent="remove(item_id)">
            &times;
          </a>
        </div>
      </div>
      <div v-show="count < max">
        <input
          type="text"
          class="form-control mb-2"
          :placeholder="$t('controls.label.search_query')"
          v-model="query"
          :class="{'is-invalid':hasError}"
        />
        <div>
          <a
            href="javascript:;"
            class="btn btn-secondary btn-sm mr-2 mb-2"
            v-for="item in items"
            :key="item.id"
            @click="add(item)">
            {{item[itemNameKey]}}
          </a>
        </div>
      </div>
      <small v-if="hasError">{{getError}}</small>
    </div>
  </div>
</template>

<script>
export default {
  name: 'tagInput',
  props: {
    store: {
      type: String,
    },
    name: {
      type: String,
    },
    deep: {
      type: Boolean,
      default: false,
    },
    label: {
      type: String,
      default: null,
    },
    itemStore: {
      type: String,
    },
    itemNameKey: {
      type: String,
    },
    max: {
      type: Number,
      default: Infinity,
    },
    maxVariants: {
      type: Number,
      default: Infinity,
    },
  },

  data() {
    return {
      query: '',
    };
  },
  computed: {
    count() {
      return this.value ? this.value.length : 0;
    },
    hasError() {
      return this.$store.state.app.error[this.name.replace(/\//g, '.')];
    },
    getError() {
      return this.hasError[0];
    },
    itemsList() {
      return this.$store.getters[`${this.itemStore}/getList`];
    },
    itemsCount() {
      return this.$store.getters[`${this.itemStore}/getCount`];
    },
    parentModel() {
      return this.$store.getters[`${this.store}/getCurrent`];
    },
    value() {
      const v = this.deep
        ? this.$deepGet(this.parentModel, this.name)
        : this.parentModel[this.name];
      if (!v) {
        return this.max == 1 ? null : [];
      }
      return this.max == 1 ? [v] : v;
    },
    items() {
      const result = {};

      const re = new RegExp(this.query, 'i');

      Object.values(this.itemsList).forEach((item) => {
        if (this.max == 1 && item.id == this.value) {
          return;
        }
        if (
          (this.value && this.value.includes(item.id))
          || Object.values(result).length >= this.maxVariants
        ) {
          return;
        }
        if (item[this.itemNameKey].match(re)) {
          result[item.id] = item;
        }
      });

      return result;
    },
  },
  mounted() {
    this.fetchItems();
  },
  methods: {
    fetchItems() {
      if (this.itemsCount === 0) {
        this.$store.dispatch(`${this.itemStore}/LOAD_LIST`);
      }
    },
    add(item) {
      let newValue;
      if (this.max == 1) {
        newValue = item.id;
      } else {
        newValue = [...this.value];
        newValue.push(item.id);
      }
      this.$store.dispatch(`${this.store}/UPDATE_CURRENT`, {
        key: this.name,
        value: newValue,
      });
      this.query = '';
    },
    remove(id) {
      const newValue = this.max == 1 ? null : this.value.filter((item) => item !== id);
      this.$store.dispatch(`${this.store}/UPDATE_CURRENT`, {
        key: this.name,
        value: newValue,
      });
    },
  },
};
</script>
