<template>
  <loading v-if="$store.state.app.loading"/>
  <div v-else class="specialities_form">
    <mlinput
      store="work/specialities" name="title"
      :label="$t('admin.specialities.editForm.title')"/>

    <a href="javascript:;" class="btn btn-primary" @click="save()">
      {{$t('controls.button.save')}}
    </a>
  </div>
</template>

<script>
import MLInput from '../../_controls/ml/Input.vue';

export default {
  data() {
    return {
      isNew: true,
    };
  },
  components: {
    mlinput: MLInput,
  },
  created() {
    this.fetchData();
  },
  watch: {
    $route: 'fetchData',
  },
  methods: {
    fetchData() {
      this.$store.dispatch('work/specialities/RESET_CURRENT');
      const { id } = this.$route.params;
      if (id) {
        // Edit existing speciality
        this.isNew = false;
        const speciality = this.$store.state.work.specialities.list[id];

        if (speciality) {
          this.$store.dispatch('work/specialities/SET_CURRENT', speciality);
        } else {
          // Page not loaded yet
          this.$store.dispatch('app/CALL_API', {
            method: 'get',
            url: `/api/specialities/${id}`,
            onSuccess: 'work/specialities/loadCurrent',
          });
        }
      } else {
        // Create new speciality
        this.isNew = true;
      }
    },
    save() {
      const speciality = this.$store.state.work.specialities.current;
      this.$store.dispatch('app/CALL_API', {
        url: this.isNew ? '/api/specialities' : `/api/specialities/${speciality.id}`,
        method: this.isNew ? 'post' : 'put',
        data: speciality,
        onSuccess: this.isNew ? 'work/specialities/create' : 'work/specialities/loadCurrent',
        notify: this.$t('admin.specialities.actions.saved_successful'),
      });
    },
  },
};
</script>
