<template>
  <loading v-if="$store.state.app.loading"/>
  <div v-else class="roles_form">
    <inputComponent
      store="core/roles" name="display_name"
      :label="$t('admin.roles.editForm.name')"/>
    <inputComponent
      store="core/roles" name="description"
      :label="$t('admin.roles.editForm.desc')"/>

    <div id="permissions-accordion" class="accordion form-group">
      <div
        v-for="(group, groupName) in $store.getters['core/permissions/getList']"
        :key="groupName"
        class="card" >
        <div
          class="card-header p-2"
          data-toggle="collapse"
          :data-target="'#'+groupName" >
          {{$t(`admin.home.${groupName}`)}}
        </div>
        <div
          class="card-body border collapse" :id="groupName"
          data-parent="#permissions-accordion">
          <table class="table">
            <thead>
              <tr>
                <th></th>
                <th>{{$t('admin.roles.editForm.perm-read')}}</th>
                <th>{{$t('admin.roles.editForm.perm-create')}}</th>
                <th>{{$t('admin.roles.editForm.perm-update')}}</th>
                <th>{{$t('admin.roles.editForm.perm-delete')}}</th>
              </tr>
            </thead>
            <tr v-for="(model, modelName) in group" :key="modelName">
              <td>{{$t(`admin.${modelName}.menu`)}}</td>
              <td
                v-for="action in ['read', 'create', 'update', 'delete']"
                :key="action" >
                <input
                  v-if="model[action]"
                  type="checkbox"
                  :checked="checked(model[action].id)"
                  :title="'Разрешить ' + model[action].description"
                  @click="evt => updatePerm(model[action], evt.target.checked)" >
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="">
      <a href="javascript:;" class="btn btn-primary" @click="save()">
        {{$t('controls.button.save')}}
      </a>
    </div>
  </div>
</template>

<script>
import inputComponent from '../../_controls/Input.vue';

export default {
  created() {
    this.fetchData();
  },
  components: {
    inputComponent,
  },
  watch: {
    $route: 'fetchData',
  },
  computed: {
    checked() {
      return (id) => {
        const { permissions } = this.$store.getters['core/roles/getCurrent'];
        if (permissions) {
          return permissions[id] != undefined;
        }
        return false;
      };
    },
  },
  methods: {
    fetchData() {
      const { id } = this.$route.params;
      if (id) {
        // Edit existing role
        this.isNew = false;
        const role = this.$store.getters['core/roles/getList'][id];

        if (role) {
          this.$store.dispatch('core/roles/SET_CURRENT', role);
        } else {
          // role not loaded yet
          this.$store.dispatch('app/CALL_API', {
            method: 'get',
            url: `/api/roles/${id}`,
            onSuccess: 'core/roles/loadCurrent',
          });
        }

        if (this.$store.getters['core/permissions/getCount'] === 0) {
          this.$store.dispatch('core/permissions/LOAD_LIST');
        }
      } else {
        this.$router.push({
          name: 'roles',
        });
      }
    },
    save() {
      const role = this.$store.getters['core/roles/getCurrent'];
      this.$store.dispatch('app/CALL_API', {
        url: `/api/roles/${role.id}`,
        method: 'put',
        data: role,
        onSuccess: 'core/roles/loadCurrent',
        notify: this.$t('admin.roles.actions.saved_successful'),
      });
    },
    updatePerm(perm, checked) {
      const newValue = { ...this.$store.getters['core/roles/getCurrent'].permissions };

      if (checked) {
        newValue[perm.id] = perm;
      } else {
        delete (newValue[perm.id]);
      }

      this.$store.dispatch('core/roles/UPDATE_CURRENT', {
        key: 'permissions',
        value: newValue,
      });
    },
  },
};
</script>
