<template>
  <loading v-if="$store.state.app.loading"/>
  <div v-else class="roles_list">
    <div>
      <table class="table">
        <thead>
          <tr>
            <th>{{$t('admin.roles.listTable.name')}}</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="role in $store.state.core.roles.list"
            :key="role.id"
            class="has-shy"
          >
            <td>
              {{role.display_name}}
            </td>
            <td class="text-muted">
              {{role.description}}
            </td>
            <td class="shy">
              <a
                href="#" class="btn btn-sm btn-secondary"
                @click.prevent="edit(role.id)" v-if="can('core.roles.update')">
                <i class="icofont-edit-alt"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
export default {
  created() {
    this.fetchData();
  },
  watch: {
    $route: 'fetchData',
  },
  methods: {
    fetchData() {
      this.$store.dispatch('app/CALL_API', {
        method: 'get',
        url: '/api/roles',
        onSuccess: 'core/roles/loadList',
      });
    },
    edit(id) {
      this.$router.push({
        name: 'roles.edit',
        params: {
          id,
        },
      });
    },
  },
};
</script>
