<template>
    <nav id="admin-menu" class="nav nav-pills flex-column">
        <!-- Home -->
        <router-link :to="{name:'home'}" class="nav-link">
            {{$t('admin.home.menu')}}
        </router-link>
        <!-- Core -->
        <a href="javascript:;" class="nav-link" data-toggle="collapse" data-target="#core-menu">
            {{$t('admin.home.core')}}
        </a>
        <div id="core-menu" class="collapse" data-parent="#admin-menu">
            <nav class="nav nav-pills flex-column ml-2">
                <router-link v-if="can('core.users.read')" to="/users" class="nav-link has-shy">
                    {{$t('admin.users.menu')}}
                    <router-link
                        v-if="can('core.users.create')"
                        :to="{name: 'users.create'}"
                        class="float-right shy btn btn-primary px-2 py-1 my-n1 mr-n2"
                    >
                        +
                    </router-link>
                </router-link>
                <router-link
                    v-if="can('core.roles.read')"
                    :to="{name: 'roles'}" class="nav-link">
                    {{$t('admin.roles.menu')}}
                </router-link>
            </nav>
        </div>
        <!-- Content -->
        <a href="javascript:;" class="nav-link" data-toggle="collapse" data-target="#content-menu">
            {{$t('admin.home.content')}}
        </a>
        <div id="content-menu" class="collapse" data-parent="#admin-menu">
            <nav class="nav nav-pills flex-column ml-2">
                <router-link
                    v-if="can('content.translations.read')"
                    :to="{name: 'translations'}" class="nav-link">
                    {{$t('admin.translations.menu')}}
                </router-link>
                <router-link
                    v-if="can('content.pages.read')"
                    to="/pages" class="nav-link has-shy">
                    {{$t('admin.pages.menu')}}

                    <router-link
                        v-if="can('content.pages.create')"
                        to="/pages/create"
                        class="float-right shy btn btn-primary px-2 py-1 my-n1 mr-n2"
                    >
                        +
                    </router-link>
                </router-link>
            </nav>
        </div>
        <!-- Work -->
        <a href="javascript:;" class="nav-link" data-toggle="collapse" data-target="#work-menu">
            {{$t('admin.home.work')}}
        </a>
        <div id="work-menu" class="collapse" data-parent="#admin-menu">
            <nav class="nav nav-pills flex-column ml-2">
                <router-link
                    v-for="model in workModels" :key="model"
                    v-if="can(`work.${model}.read`)"
                    :to="{name:`${model}`}" class="nav-link has-shy">
                    {{$t(`admin.${model}.menu`)}}

                    <router-link
                        v-if="can(`work.${model}.create`)"
                        :to="{name: `${model}.create`}"
                        class="float-right shy btn btn-primary px-2 py-1 my-n1 mr-n2"
                    >
                        +
                    </router-link>
                </router-link>
            </nav>
        </div>
    </nav>
</template>

<script>
export default {
  name: 'AdminMenu',
  data() {
    return {
      workModels: [
        'qualities', 'skills', 'profareas', 'cities', 'regions', 'countries',
        'specialities', 'positions', 'languages',
      ],
    };
  },
};
</script>

<style scoped>

</style>
