<template>
  <ul class="navbar-nav">
    <li class="nav-item dropdown">
      <a href="#" class="nav-item nav-link dropdown-toggle" data-toggle="dropdown">
        {{currentLocale}}
      </a>
      <div class="dropdown-menu">
        <a v-for="(locale, idx) in locales"
          :key="idx"
          :class="{'active': locale===currentLocale}"
          class="dropdown-item"
          href="#"
          @click.prevent="setLang(locale)"
        >
          {{locale}}
        </a>
      </div>
    </li>
  </ul>
</template>

<script>
export default {
  data() {
    return {
      currentLocale: window.translations.locale,
      locales: window.locales,
    };
  },
  name: 'LangSwitcher',
  methods: {
    setLang(locale) {
      if (locale == this.currentLocale) {
        return;
      }

      const { pathname, hash } = window.location;
      let prefix = '';
      let path = pathname;

      if (locale != 'ru') {
        prefix = `/${locale}`;
      }

      if (this.currentLocale != 'ru') {
        path = pathname.replace(`/${this.currentLocale}`, '');
      }

      const url = `${prefix}${path}${hash}`;

      window.location.assign(url);
    },
  },
};
</script>
