<template>
  <loading v-if="$store.state.app.loading"/>
  <div v-else class="qualities_form">
    <mlinput
      store="work/qualities" name="title"
      :label="$t('admin.qualities.editForm.title')"/>

    <a href="javascript:;" class="btn btn-primary" @click="save()">
      {{$t('controls.button.save')}}
    </a>
  </div>
</template>

<script>
import MLInput from '../../_controls/ml/Input.vue';

export default {
  data() {
    return {
      isNew: true,
    };
  },
  components: {
    mlinput: MLInput,
  },
  created() {
    this.fetchData();
  },
  watch: {
    $route: 'fetchData',
  },
  methods: {
    fetchData() {
      this.$store.dispatch('work/qualities/RESET_CURRENT');
      const { id } = this.$route.params;
      if (id) {
        // Edit existing quality
        this.isNew = false;
        const quality = this.$store.state.work.qualities.list[id];

        if (quality) {
          this.$store.dispatch('work/qualities/SET_CURRENT', quality);
        } else {
          // Page not loaded yet
          this.$store.dispatch('app/CALL_API', {
            method: 'get',
            url: `/api/qualities/${id}`,
            onSuccess: 'work/qualities/loadCurrent',
          });
        }
      } else {
        // Create new quality
        this.isNew = true;
      }
    },
    save() {
      const quality = this.$store.state.work.qualities.current;
      this.$store.dispatch('app/CALL_API', {
        url: this.isNew ? '/api/qualities' : `/api/qualities/${quality.id}`,
        method: this.isNew ? 'post' : 'put',
        data: quality,
        onSuccess: this.isNew ? 'work/qualities/create' : 'work/qualities/loadCurrent',
        notify: this.$t('admin.qualities.actions.saved_successful'),
      });
    },
  },
};
</script>
