<template>
  <loading v-if="$store.state.app.loading"/>
  <div v-else class="languages_form">
    <mlinput
      store="work/languages" name="title"
      :label="$t('admin.languages.editForm.title')"/>

    <a href="javascript:;" class="btn btn-primary" @click="save()">
      {{$t('controls.button.save')}}
    </a>
  </div>
</template>

<script>
import MLInput from '../../_controls/ml/Input.vue';

export default {
  data() {
    return {
      isNew: true,
    };
  },
  components: {
    mlinput: MLInput,
  },
  created() {
    this.fetchData();
  },
  watch: {
    $route: 'fetchData',
  },
  methods: {
    fetchData() {
      this.$store.dispatch('work/languages/RESET_CURRENT');
      const { id } = this.$route.params;
      if (id) {
        // Edit existing language
        this.isNew = false;
        const language = this.$store.state.work.languages.list[id];

        if (language) {
          this.$store.dispatch('work/languages/SET_CURRENT', language);
        } else {
          // Page not loaded yet
          this.$store.dispatch('app/CALL_API', {
            method: 'get',
            url: `/api/languages/${id}`,
            onSuccess: 'work/languages/loadCurrent',
          });
        }
      } else {
        // Create new language
        this.isNew = true;
      }
    },
    save() {
      const language = this.$store.state.work.languages.current;
      this.$store.dispatch('app/CALL_API', {
        url: this.isNew ? '/api/languages' : `/api/languages/${language.id}`,
        method: this.isNew ? 'post' : 'put',
        data: language,
        onSuccess: this.isNew ? 'work/languages/create' : 'work/languages/loadCurrent',
        notify: this.$t('admin.languages.actions.saved_successful'),
      });
    },
  },
};
</script>
